body{
    background-color: blanchedalmond;
    
}    
.d1{
    text-align: center;
    padding-top: 1cm;
    font-size: 32px;
    font-family: mileadilan;
}

.d2{
    padding-left: 5mm;
    font-size: 24px;
    font-family: Arial;
}

.d3{
    padding-left: 5mm;
    font-size: 32px;
    font-family: Stranger back in the Night;
}
.d4{
    padding-left: 5mm;
    font-size: 32px;
    font-family: Stranger back in the Night;
}
.d5{
    text-align: center;
}